* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh; 
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */

header{
    height: 50px;
    text-align: right;
    padding: 5px;
    /* Tolto flex perché non necessario e impostata un'altezza fissa */
}

header button {
    border: none;
    color: white;
    background-color: #4a4a4a;
    border-radius: 5px;
    padding: 5px 10px;
    /* margin: 10px 5px;  Tolto perché aggiunto padding nell'header*/
    
}

.view i {
    margin-right: 5px;
}

/* MAIN */

main {
    height: calc(100vh - 120px);
    /* Height calcolata sottraendo header e footer */
    /* width: 70%;
    margin: auto;  Tolto perché applicato justify-content al div contenitore delle img*/
    margin-top: 50px;
    overflow-y: scroll;
}

 .gallery { /* Aggiunto contenitore dentro main per contenere le card */
    height: 100%; /* di main */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start; /* Per rimuovere margini inferiori eccessivi alle img */
}

.caller {
    width: 250px; /* Inserita dimensione fissa invece di calc */
    height: 150px;
    position: relative;
    background-image: url('https://picsum.photos/200/300');
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.caller-id {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(92, 90, 90, 0.6);
    padding: 4px;
}

footer {
    height: 70px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #4a4a4a7b; 
    
    /* position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999; 
    
    Tolto fixed perché improprio*/
}

.left, .center, .right {
    display: flex;
    height: 100%;
    flex-shrink: 0;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* Le dimensioni delle icon aggiunte direttamente in html con fa-2x */
}


footer .green {
    color: lightgreen;
}

.right  button {
    color: red;
    background-color: #4a4a4a;
    padding: 10px;
    border: none;
    height: 100%;
    display: inline-block;
}

.icon span {
    font-size: 14px;
    padding-top: 7px;
}